<div class="ricerca">
    <app-ricerca-libro (search)="searchCallback($event)"></app-ricerca-libro>
</div>

<div *ngIf="isModificaLibro" class="modal">
    <h4>MODIFICA LIBRO</h4>
    <form [formGroup]="formModificaLibro" (ngSubmit)="submitModificaLibro()">
        <input type="hidden" formControlName="id">

        <label for="nomeprodotto"></label>
        <input type="text" name="nomeprodotto" formControlName="nomeprodotto" placeholder="Inserisci titolo">
        <br>

        <label for="autore"></label>
        <input type="text" name="autore" formControlName="autore" placeholder="Inserisci autore">
        <br>

        <label for="genere"></label>
        <input type="text" name="genere" formControlName="genere" placeholder="Inserisci genere">
        <br>

        <label for="prezzo"></label>
        <input type="number" name="prezzo" formControlName="prezzo" placeholder="Inserisci prezzo">
        <br>

        <label for="stock"></label>
        <input type="number" name="stock" formControlName="stock" placeholder="Inserisci stock">
        <br>

        <label for="descrizione"></label>
        <input type="text" name="descrizione" formControlName="descrizione" placeholder="Inserisci descrizione">
        <br>

        <label for="imgsource"></label>
        <input type="text" name="imgsource" formControlName="imgsource" placeholder="Inserisci link immagine">
        <br>
        <br>
        <button (click)="toggleModificaLibro()">CHIUDI</button>
        <input type="submit" value="CONFERMA">
    </form>
</div>

<div *ngIf="isInserisciLibro" class="modal">
    <h4>INSERIMENTO NUOVO LIBRO</h4>
    <form [formGroup]="formInserisciLibro" (ngSubmit)="submitInserisciLibro()">
        <label for="nomeprodotto"></label>
        <input type="text" name="nomeprodotto" formControlName="nomeprodotto" placeholder="Inserisci titolo">
        <br>
        
        <label for="autore"></label>
        <input type="text" name="autore" formControlName="autore" placeholder="Inserisci autore">
        <br>

        <label for="genere"></label>
        <input type="text" name="genere" formControlName="genere" placeholder="Inserisci genere">
        <br>

        <label for="prezzo"></label>
        <input type="number" name="prezzo" formControlName="prezzo" placeholder="Inserisci prezzo">
        <br>

        <label for="stock"></label>
        <input type="number" name="stock" formControlName="stock" placeholder="Inserisci stock">
        <br>

        <label for="descrizione"></label>
        <input type="text" name="descrizione" formControlName="descrizione" placeholder="Inserisci descrizione">
        <br>

        <label for="imgsource"></label>
        <input type="text" name="imgsource" formControlName="imgsource" placeholder="Inserisci link immagine">
        <br>
        <br>
        <button (click)="toggleInserisciLibro()">CHIUDI</button>
        <input type="submit" value="CONFERMA">
    </form>
</div>

<br>

<div class="inserisci">
    <button (click)="toggleInserisciLibro()" *ngIf="!isInserisciLibro">Inserisci un nuovo libro</button>
</div>

<br>

<table>
        <thead>
            <th>Id</th>
            <th>Titolo</th>
            <th>Autore</th>
            <th>Genere</th>
            <th>Prezzo</th>
            <th>Quantità</th>
            <th>Descrizione</th>
            <th>ImgSource</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let libro of libri">
                <td>{{ libro.id }}</td>
                <td>{{ libro.nomeprodotto }}</td>
                <td>{{ libro.autore }}</td>
                <td>{{ libro.genere }}</td>
                <td>{{ libro.prezzo }}</td>
                <td>{{ libro.stock }}</td>
                <td>{{ libro.descrizione }}</td>
                <td>{{ libro.imgsource }}</td>
                <td><button (click)="modificaLibro(libro)">Modifica</button></td>
                <td><button (click)="deleteLibro(libro.id)">Elimina</button></td>
            </tr>
        </tbody>
</table> 