<button
  class="button-navbar"
  onclick="document.getElementById('id01').style.display='block'"
>
  LOGIN
</button>

<!-- The Modal -->
<div id="id01" class="modal">
  <span
    onclick="document.getElementById('id01').style.display='none'"
    class="close"
    title="Close Modal"
    >&times;</span
  >

  <!-- Modal Content -->
  <form
    [formGroup]="loginForm"
    (ngSubmit)="submitForm()"
    class="modal-content animate"
    action="/action_page.php"
  >
    <div class="container">
      <h1>Login</h1>
      <div class="form-input">
        <label for="uname"><b>Username</b></label>
        <input
          type="text"
          placeholder="Inserisci Username"
          name="username"
          required
          formControlName="username"
        />
      </div>
      <div class="form-input">
        <label for="psw"><b>Password</b></label>
        <input
          type="password"
          placeholder="Inserisci Password"
          name="password"
          required
          formControlName="password"
        />
      </div>

      <button class="form-btn" type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember" /> Ricordami
      </label>
    </div>

    <div class="container" style="background-color: white">
      <button
        type="button"
        onclick="document.getElementById('id01').style.display='none'"
        class="cancelbtn, form-btn"
      >
        Chiudi
      </button>
      <span class="psw"
        ><a href="/password-dimenticata">Password dimenticata?</a></span
      >
    </div>
  </form>
</div>
