<button
  class="button-navbar"
  onclick="document.getElementById('id02').style.display='block'"
>
  REGISTRATI
</button>

<div id="id02" class="modal">
  <span
    onclick="document.getElementById('id02').style.display='none'"
    class="close"
    title="Close Modal"
    >&times;</span
  >

  <form
    [formGroup]="formInserisciCliente"
    (ngSubmit)="submitInserisciCliente()"
    class="modal-content animate"
    action="/action_page.php"
  >
    <div class="container">
      <div class="form-input">
        <label for="username">Username: </label>
        <input
          type="text"
          name="username"
          formControlName="username"
          placeholder="Inserisci l'username"
        />
        <br />

        <label for="password">Password: </label>
        <input
          type="password"
          name="password"
          formControlName="password"
          placeholder="Inserisci la password"
        />
        <br />

        <label for="nome">Nome: </label>
        <input
          type="text"
          name="nome"
          formControlName="nome"
          placeholder="Inserisci il nome"
        />
        <br />

        <label for="cognome">Cognome: </label>
        <input
          type="text"
          name="cognome"
          formControlName="cognome"
          placeholder="Inserisci il cognome"
        />
        <br />

        <label for="indirizzo">Indirizzo: </label>
        <input
          type="text"
          name="indirizzo"
          formControlName="indirizzo"
          placeholder="Inserisci l'indirizzo"
        />
        <br />
      </div>

      <button
        class="form-btn"
        type="submit"
        onclick="document.getElementById('id02').style.display='none'"
      >
        Registrati
      </button>
    </div>
    <div class="container" style="background-color: #f1f1f1">
      <button
        type="button"
        onclick="document.getElementById('id02').style.display='none'"
        class="cancelbtn, form-btn"
      >
        Chiudi
      </button>
    </div>
  </form>
</div>
