<nav class="navbar">
  <ul class="navbar-nav">
    <div class="navbar-buttons">
      <app-login-form *ngIf="!isLoggedIn()"></app-login-form>
      <app-register-form *ngIf="!isLoggedIn()"></app-register-form>
      <button *ngIf="isLoggedIn()" (click)="logout()" class="button-navbar">
        LOGOUT
      </button>

      <button
        *ngIf="isClient()"
        class="nav-link button-navbar"
        routerLink="/area-cliente"
      >
        AREA CLIENTE
      </button>

      <button
        *ngIf="isAdmin()"
        class="nav-link button-navbar"
        routerLink="/area-admin"
      >
        Area Admin
      </button>
    </div>
    <app-cart></app-cart>
  </ul>
</nav>
