/* Stile generale */
.carrello {
  margin-bottom: 20px;
}

.libro_carrello {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.btn-rimuovi {
  color: black;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-rimuovi:hover {
  box-shadow: inset 0px 0px 4px #000;
}

.carrello-empty {
  font-style: italic;
}

/* Stile per la fase di pagamento */
.form-group {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #16c172;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Stile per il riepilogo finale */
.riepilogo-ordine {
  margin-bottom: 20px;
}

.riepilogo-ordine h3 {
  margin-bottom: 10px;
}

/* Stile per la fase di conferma */
.conferma-ordine {
  margin-bottom: 20px;
}

.conferma-ordine h1 {
  color: #16c172;
  margin-bottom: 10px;
}

.checkout_container {
  margin: 0 20px;
}

.button_checkout {
  width: 150px;
  border-radius: 5px;
  padding: 10px 20px;
}

.fase-checkout {
  display: flex;
  flex-direction: column;
}
.buttons-bottom {
  display: flex;
  justify-content: space-between;
}
.fase-riepilogo {
  background-color: white;
  padding: 10px;
}
.totale {
  text-align: end;
}
.item-riepilogo {
  border: 1px solid #16c172;
}

button {
  cursor: pointer;
}
