<div class="cart-container">
  <button (click)="apriCarrello()" class="carrello-toggle">🛒</button>
  <div class="carrello" [ngClass]="active ? 'aperto' : ''">
    <div *ngFor="let l of carrello" class="libro_carrello">
      <div>
        <h3>{{ l.libro.nomeprodotto }}</h3>
        <p>Prezzo: {{ l.libro.prezzo }}€</p>
        <p>
          <br />
          Quantità:
          <button
            class="btn-quantita"
            (click)="decrementaQuantita(l)"
            [disabled]="l.quantita === 1"
          >
            -
          </button>
          {{ l.quantita }}
          <button class="btn-quantita" (click)="incrementaQuantita(l)">
            +
          </button>
        </p>
      </div>
      <button (click)="rimuoviDalCarrello(l)" class="btn-rimuovi">X</button>
    </div>
    <div *ngIf="carrello.length > 0" class="riepilogo">
      <p>Totale: {{ calcolaTotale() }}€</p>
      <button (click)="vaiAlCheckout()" class="btn-checkout">
        Vai al checkout
      </button>
    </div>
    <p *ngIf="carrello.length === 0" class="carrello-empty">
      Il carrello è vuoto
    </p>
  </div>
</div>
