header {
  background: rgb(22, 193, 114);
  background: linear-gradient(
    180deg,
    rgba(22, 193, 114, 1) 0%,
    rgba(211, 246, 219, 1) 100%
  );
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#logo {
  display: flex;
  align-items: center;
}

#logo a {
  position: absolute;
  color: #0a502f;
  text-decoration: none;
  font-size: 3rem;
  font-style: italic;
  margin-left: 20px;
  text-align: center;
}
