* {
  margin: 0 20px;
}
h2 {
  font-size: 24px;
  margin-top: 20px;
}

h3 {
  font-size: 20px;
}

/* Stile per l'indirizzo */
h3:nth-of-type(2) {
  margin-top: 10px;
}

/* Stile per lo storico acquisti */
h2 {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  display: flex;
}

img {
  margin-right: 10px;
}

.entry-details {
  flex-grow: 1;
}

p {
  margin: 5px 0;
}
